.upload-form form {
  display: flex;
  flex-direction: column; 
  gap: 12px;              
  max-width: 400px;
  margin: 0 auto;
}

.upload-form input,
.upload-form button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  width: 300px;
}

.upload-form button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.upload-form button:hover {
  background-color: #0056b3;
}

.upload-form p {
  color: #555;
  font-weight: bold;
  margin-top: 1rem;
}

.h1 {
  text-align: center
}
